.list {
  margin: 10px auto;
  width: 450px;
  height: 60px;
  padding: 0 10px;
  background-color: #817f7f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.wrapLeftBlock {
  display: flex;
}

.name {
  margin: 0 10px 0 5px;
  font-weight: 600;
  font-size: 20px;
}

.delete {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.edit {
  font-size: 24px;
  cursor: pointer;
}
.input {
  width: 18px;
  cursor: pointer;
}

.active {
  color: green;
}
