.todoForm {
  margin-bottom: 32px;
  width: 100%;
  text-align: center;
}

.todoInput {
  padding: 14px 32px 14px 16px;
  border: 2px solid black;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  
}

.todoInput::placeholder {
  color: black;
  font-family: inherit;
  font-size: 14px;
}

.todoButton {
  padding: 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: #fff;
  text-transform: capitalize;

}
